span{
    padding: 5px;
}

label{
    text-decoration: underline;
    margin-right: 10px;
}

label[for="red"]{
    color: red;
}

label[for="green"]{
    color: green;
}

label[for="blue"]{
    color: blue;
}

*[class="red"]{
    background-color: red;
    color: white;
    border-radius: 3px;
}

*[class="blue"]{
    background-color: blue;
    color: white;
    border-radius: 3px;
}

*[class="green"]{
    background-color: green;
    color: white;
    border-radius: 3px;
}
input{
    display: none;
}
input[id="red"]:not(:checked)~label[for="red"]{
    color: #ffb5b5
}
input[id="blue"]:not(:checked)~label[for="blue"]
{
    color: #b3b3ff;
}
input[id="green"]:not(:checked)~label[for="green"]{
    color: #b3d9b3;
}

input[id="red"]:not(:checked)~span[class="red"],
input[id="blue"]:not(:checked)~span[class="blue"],
input[id="green"]:not(:checked)~span[class="green"]
{
    display: none;
}
